[alias]
	st = status
	di = diff
	co = checkout
	ci = commit
	br = branch
	sta = stash
	llog = log --date=local
[apply]
	whitespace = nowarn
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[branch]
	autosetupmerge = true
[core]
[hub]
	host = github-ca.corp.zynga.com
[user]
	name = Marshall Yount
	email = myount@zynga.com
[core]
	editor = open -a 'Sublime Text 2' -nW
